{% extends "base.html.twig" %}

{% block body %}
	<div class="containe-fluid" style="height: 100vh; overflow: hidden">
		<div class="row form-content">
			<div class="d-none col-md-6 d-md-flex welcome-content blue-gradient">
				<div class="welcome">
					<h1 class="text-white">Inscription</h1>
					<p class="text-white">
						Bienvenue dans l'ateliers des devs
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-code-slash ms-1" viewbox="0 0 16 16">
							<path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
						</svg>
					</p>
				</div>
			</div>
			<div class="col-6 form-content">
				{{ form(form) }}
					{% if error is defined %}
						<div class="alert alert-danger d-flex align-items-center" role="alert">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ef5350" class="bi bi-exclamation-circle me-2" viewbox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
							</svg>
							{{ message }}
						</div>
					{% endif %}
					<div class="mt-5 d-flex flex-column align-items-center">
						<a href={{path('login')}} class="d-block mb-2 text-decoration-none d-block mb-5">Vous possédez déjà un compte ? Connexion</a>
						<a href={{path('home')}} class="d-block text-decoration-none">Accueil</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
