{% extends "base.html.twig" %}

{% block body %}
	<div class="container-fluid">
		<div class="d-flex position-relative">
			<div>
				{% include "admin/layout/sidebar.html.twig" %}
			</div>
			<div class="mx-auto position-relative">
				{# Version mobile - start #}
				<div class="togglerAdmin bg-primary p-1">
					<a id="adminMobileMenuBtn">
						<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="#fff" class="bi bi-three-dots" viewBox="0 0 16 16">
  							<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
						</svg>
					</a>
				</div>
				{# Version mobile - end #}
				<h1 class="mb-4 fw-bold title">Profil</h1>
				{% for message in app.flashes('danger') %}
					<div class="alert alert-danger">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ef5350" class="bi bi-exclamation-circle me-2" viewbox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
							<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
						</svg>
						{{ message }}
					</div>
				{% endfor %}
				<div class="card card-body pt-9 pb-0">
					{# Overview #}
					<div class="d-flex flex-wrap flex-sm-nowrap mb-6">
						<div class="me-7 mb-4">
							<div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
								<img style="width: 200px; height: 200px; border-radius: 20px" src="/assets/images/upload/{{ user.avatar }}" alt="image">
								<div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle h-15px w-15px"></div>
							</div>
						</div>
						<div class="flex-grow-1">
							<div class="d-flex justify-content-between align-items-start flex-wrap mb-2 ms-4">
								<div class="d-flex flex-column">
									<div class="d-flex align-items-center mb-2">
										<span id="id_user" hidden>{{ user.id }}</span>
										<h2 href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-1">
											{{ user.firstname|capitalize }}
											{{ user.lastname|upper }}
										</h2>
									</div>
									<div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
										<a href="#" class="email d-flex align-items-center text-gray-400 text-hover-primary mb-2">
											<span class="svg-icon svg-icon-4 me-1">
												<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor"></path>
													<path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor"></path>
												</svg>
											</span>
											{{ user.email }}
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{# Sécurité #}
				<div class="card card-body pt-9 mt-4">
					<div class="d-flex align-items-center mb-2">
						<h2 href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-1 mb-3">Sécurité</h2>
					</div>
					{# Email #}
					<div id="email" class="mb-6">
						<div class="flex-grow-1">
							<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
								<div class="d-flex flex-column">
									<div class="d-flex flex-wrap fw-semibold fs-6 align-items-center pe-2">
										<span class="svg-icon svg-icon-4 me-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewbox="0 0 16 16">
												<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
											</svg>
											Adresse email
										</span>
										<a href="#" class="email d-flex align-items-center text-gray-400 text-hover-primary">{{ user.email }}</a>
									</div>
								</div>
								<a href="#" id="update_email" class="btn btn-primary ms-lg-auto mt-3 mt-lg-0">Changer mon adresse email</a>
							</div>
							<div id="update_email_action" class="mb-4 d-none">
								<input id="update_email_input" placeholder="Nouvelle adresse email" style="width: 300px; text-align: left" class="form-control input-group-text"></a>
								<a href="#" id="update_email_submit" class="btn btn-primary ms-2">Envoyer</a>
							</div>
						</div>
						<div class="alert alert-danger d-none mt-3" role="alert">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ef5350" class="bi bi-exclamation-circle me-2" viewbox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
							</svg>
							Une erreur est survenue !
						</div>
						<div class="alert alert-success d-none mt-3" role="alert">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4caf50" class="bi bi-check-circle me-2" viewbox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
							</svg>
							Adresse email modifiée avec succès !
						</div>
					</div>
					<hr>
					{# Password #}
					<div id="password" class="mb-6">
						<div class="flex-grow-1">
							<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
								<div class="d-flex flex-column">
									<div class="d-flex flex-wrap fw-semibold fs-6 align-items-center pe-2">
										<span class="svg-icon svg-icon-4 me-2">
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
												<path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
												<path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
											</svg>
											Mot de passe
										</span>
										<a href="#" class="password d-flex align-items-center text-gray-400 text-hover-primary">*****</a>
									</div>
								</div>
								<a href="#" id="update_password" class="btn btn-primary ms-lg-auto mt-3 mt-lg-0">Changer mon mot de passe</a>
							</div>
							<div id="update_password_action" class="d-none">
								<input id="update_password_input" placeholder="Nouveau mot de passe" style="width: 300px; text-align: left" class="form-control input-group-text"></a>
								<a href="#" id="update_password_submit" class="btn btn-primary ms-2">Envoyer</a>
							</div>
						</div>
						<div class="alert alert-danger d-none mt-3" role="alert">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ef5350" class="bi bi-exclamation-circle me-2" viewbox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
							</svg>
							Une erreur est survenue !
						</div>
						<div class="alert alert-success d-none mt-3" role="alert">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4caf50" class="bi bi-check-circle me-2" viewbox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
							</svg>
							Mot de passe modifié avec succès !
						</div>
					</div>
				</div>
				{# Logout #}
				<div class="card card-body pt-9 mt-4">
					<div class="d-flex align-items-center mb-2">
						<h2 href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-1 mb-3">Déconnexion</h2>
					</div>
					<div id="logout" class="mb-6">
						<div class="flex-grow-1">
							<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
								<a href="{{ path('logout') }}" class="btn btn-outline-danger">Se déconnecter</a>
							</div>
						</div>
					</div>
				</div>
				{# Delete #}
				<div class="card card-body pt-9 mt-4">
					<div class="d-flex align-items-center mb-2">
						<h2 href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-1 mb-3">Suppression</h2>
					</div>
					<div id="logout" class="mb-6">
						<div class="flex-grow-1">
							<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
								<a href="{{ path('remove', {id: user.id}) }}" class="btn btn-outline-danger">Supprimer mon compte</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
