ul.nav a.nav-link:hover {
    color: var(--bs-white);
    background-color: var(--bs-blue);
}

a.active {
    color: #fff !important;
}

#sidebar {
    flex-direction: column;
    padding: 1rem;  
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    height: 100%;
    display: none;
}

@media (min-width: 1200px) {
    #sidebar {
        width: 300px;
        display: block;
        margin-top: 0;
        border-right: 1px solid #ddd;
    }
}

.togglerAdmin {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 1200px) {
    .togglerAdmin {
        display: none;
    }
}