.welcome-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-gradient {
    background: linear-gradient(180deg, rgba(13,110,253,1) 0%, rgba(13,71,161,1) 100%);
}

.overlay {
    background-image: url("../images/05.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
    z-index: -1;
}

.welcome-content .welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: transparent;
}

form[name="login"],
form[name="register"],
form[name="reset_password"] {
    width: 300px;
}

.form-content {
    height: 100%;
}

@media (min-width: 992px) {
    .form-contentar {
        height: auto;
    }
}

.alert.alert-danger {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: rgb(253, 237, 237);
    display: flex;
    padding: 6px 16px;
    color: rgb(95, 33, 32);
    border: none;
    align-items: center;
}

.alert.alert-success {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: rgb(237, 247, 237);
    display: flex;
    padding: 6px 16px;
    color: rgb(30, 70, 32);
    border: none;
    align-items: center;
}