{% extends "base.html.twig" %}

{% block body %}
	<div class="container d-flex w-100 p-3 mx-auto flex-column">
		{% include "header.dark.html.twig" %}
		<main class="px-3 mt-5">
			<div class="card mb-4" style="width: 400px">
				<div class="card-body">
					<h5 class="card-title fw-bold text-primary">GET</h5>
					<p class="card-text">path: /api/users/{email}</p>
					<p class="card-text fw-bold mb-0">Description</p>
					<p class="card-text">Récupère un utilisateur à partir d'une adresse email</p>
				</div>
			</div>
			<div class="card mb-4" style="width: 400px">
				<div class="card-body">
					<h5 class="card-title fw-bold text-primary">POST</h5>
					<p class="card-text">path: /api/users</p>
					<ul>
						<li>email: {string} obligatoire</li>
						<li>firstname: {string} obligatoire</li>
						<li>lastname: {string} obligatoire</li>
						<li>avatar: {string} obligatoire</li>
						<li>password: {string} obligatoire</li>
					</ul>
					<p class="card-text fw-bold mb-0">Description</p>
					<p class="card-text">Crée un utilisateur à partir d'un payload de donnée</p>
				</div>
			</div>
			<div class="card mb-4" style="width: 400px">
				<div class="card-body">
					<h5 class="card-title fw-bold text-primary">PUT</h5>
					<p class="card-text">path: /api/users/{id}</p>
					<ul>
						<li>email: {string}</li>
						<li>firstname: {string}</li>
						<li>lastname: {string}</li>
						<li>avatar: {string}</li>
						<li>password: {string}</li>
					</ul>
					<p class="card-text fw-bold mb-0">Description</p>
					<p class="card-text">Modifie un utilisateur à partir d'un id</p>
				</div>
			</div>
			<div class="card" style="width: 400px">
				<div class="card-body">
					<h5 class="card-title fw-bold text-primary">DELETE</h5>
					<p class="card-text">path: /api/users/{id}</p>
					<p class="card-text fw-bold mb-0">Description</p>
					<p class="card-text">Supprime un utilisateur à partir d'un id</p>
				</div>
			</div>
		</main>
	</div>
{% endblock %}
