{% extends "base.html.twig" %}

{% block body %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
				<h3 class="float-md-start mb-0 text-white"><a href={{path('home')}} style="text-decoration: none">L'ateliers des devs</a>
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" class="bi bi-code-slash ms-1" viewbox="0 0 16 16">
						<path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
					</svg>
				</h3>
				<button id="MobileMenuBtn" class="navbar-toggler">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse justify-content-end mt-3" id="navbarNav" style="display: none">
					<ul class="navbar-nav align-items-center">
						<li class="nav-item">
							<a class="nav-link text-primary mx-2" href={{path('home')}}>Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-primary mx-2" href={{path('api')}}>API</a>
						</li>
						{% if connected %}
						<li class="nav-item">
							<a class="nav-link text-primary mx-2" href={{path('admin_profile')}}>Accéder à mon compte</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link text-primary mx-2" href={{path('login')}}>Se connecter</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white mx-2" href={{path('register')}}><button style="color: #0d6efd" class="btn text-white btn-primary">S'inscrire</button></a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</header>
{% endblock %}