{% extends "base.html.twig" %}
{% block body %}
	<div class="container d-flex w-100 vh-100 p-3 mx-auto flex-column">
		{% include "header.light.html.twig" %}
		<main class="px-3">
			<h1 class="text-white">Une nouvelle expérience du web.</h1>
			<p class="lead text-white">Rejoignez l'aventure de l'ateliers des devs _</p>
			<p class="lead">
				<a href={{path('register')}} class="btn btn-lg fw-bold border-white bg-white text-black">Inscription</a>
			</p>
		</main>
	</div>
	<div class="overlay">
		{# <img class="overlay" src="assets/images/05.png"> #}
	</div>
{% endblock %}
